body {
  background:url(https://lc-gluttony.s3.amazonaws.com/2pGNaK0jIXko/bWoQ8QPESz55DXo0rfNrnl1AS4Pp5DIE/wallhaven-x69x1o_1920x1080.webp)
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position:50% 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-bg-color:#1f1f1ff7;
  }
  .site-brand-container {
    background: #333;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --content-bg-color:#fffffff0;
  }
  .site-brand-container {
    background: #555;
  }
}

.footer {
  color: #efefef
}

.tag-cloud-0 {
  color: #777
  border-bottom-color: #777
}